#notes{
  width: 100%;
  color: #333333;
  align-items: center;
  display: flex;
  justify-content:center; 
  height:1000px;
}

#form-container{
  display: flex;
  justify-content:center; 
}

.table {
  background:#C5C9B8;
  height: 100%;
}

.table-bottom, .table-top {
  background:rgb(184, 201, 200);
}