{% extends "CMS/main.html" %}

{%block content%}

	<div class="section" >
		<div class="container">
			<div class="row" id="form-container">
				<div class="col-xs-12 col-sm-3">
					<h1>New post</h1>
				<form id="form" method="POST" class="form" enctype="multipart/form-data">{% csrf_token %}
					{{ form.as_p }}
					<button id="save_button" type="submit" class="save btn btn-default">Save</button>
				</form>
				</div>
			</div>
		</div>
	</div>

	<div id="notes">
		<div class="col-xs-12 col-sm-3">
			<h2> Notes</h2>
			<table class="table table-dark" id="example">
				<thead class="table-top">
					<tr>
					<th scope="col">Date</th>
					<th scope="col">End date</th>
					<th scope="col">Note</th>
					<th scope="col">attach</th>
					<th scope="col">User</th>
					<th scope="col">Task</th>
					<th scope="col">Tag</th>
					<th scope="col">Type</th>
					</tr>
				</thead>
				<tbody>
					{% for i in notes %}
						<tr>
							<input type="hidden" id="id_note" name="id_note" value="{{i.id}}">
							<td>{{ i.date }}</td>
							<td>{{ i.end_date }}</td>
							<td>{{ i.note }}</td>
							<td>{{ i.attach }}</td>
							<td>{{ i.user }}</td>
							<td>{{ i.task }}</td>
							<td>{{ i.tag }}</td>
							<td>{{ i.type }}</td>
							<td><button id="delete_button" name="delete_button" class="btn btn-danger">Delete</button></td>
							<td><button id="update_button" name="update_button"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#UpdateMenu">Update</button></td>
						</tr>
					{% endfor %}
				</tbody>
			</table> 
		</div>
	</div>

	<div class="modal fade" id="UpdateMenu" tabindex="-1" role="dialog" aria-labelledby="UpdateMenu" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Update note</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				
				<form id="form_update" method="POST" class="form" enctype="multipart/form-data">{% csrf_token %}
					{{ form.as_p }}
					<input type="hidden" id="id_note_update" name="id_note_update" value="{{i.id}}">
					<button id="save_update" type="submit" class="btn btn-primary">Save changes</button>
				</form>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  
			</div>
		  </div>
		</div>
	  </div>

{%endblock content%}



