{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>CRUD</title>

		{% compress css inline %}
			<!-- Bootstrap -->
			<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

			<!-- Custom stlylesheet -->
			<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
			
			{% block extracss %}
			{% endblock %}
		{% endcompress %}

    </head>
	<body>
		{%block content%}
		{%endblock content%}
	</body>
	
	{% compress js inline %}
			<script src="{% static 'js/jquery.min.js' %}"></script> 
			<script src="{% static 'js/bootstrap.min.js' %}"></script> 
			<script src="{% static 'js/main.js' %}"></script>
	{% endcompress %}
</html>
